<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550475777486-qg3mm6so3lq8otj0mvsmskplcr88lut1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550475777486-qg3mm6so3lq8otj0mvsmskplcr88lut1</string>
	<key>API_KEY</key>
	<string>AIzaSyAA8lAGDOMZv7uCO6I24LrowMxHunJaq34</string>
	<key>GCM_SENDER_ID</key>
	<string>550475777486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assignment.parkingApp</string>
	<key>PROJECT_ID</key>
	<string>parkingapp-101</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingapp-101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550475777486:ios:9f3f6f5abc8db826dc979f</string>
</dict>
</plist>